.h1 {
    text-shadow: 0px 0px 15px white;
    font-family: "Lily Script One", serif;
    font-weight: 400;
    font-style: normal;
}

.boxDiv {
    background-image: url(../assets/dog.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 500px;
    min-height: 500px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    
}

.buttonClass1 {
    justify-content: start;
    color: #00FF00;
    text-shadow: 0px 0px 15px #00FF00;
    font-size: 40px;
}

.buttonClass1:hover {
    color: darkgreen;
    text-shadow: 0px 0px 15px darkgreen;
}

.buttonClass2 {
    justify-content: start;
    color: red;
    text-shadow: 0px 0px 15px red;
    font-size: 40px;
}

.buttonClass2:hover {
    color: darkred;
    text-shadow: 0px 0px 15px darkred;
}

.heartImg {
    width: 400px;
    height: 400px;
    justify-content: end;
    
}