.boxDiv {
    background-color: white;
    min-width: 500px;
    min-height: 500px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.buttonClass {
    color: #FFAFE7;
    justify-content: start;
    text-shadow: 0px 0px 15px #FFAFE7;
    font-size: 40px;
}
.buttonClass:hover {
    color: darkmagenta;
    justify-content: start;
    text-shadow: 0px 0px 15px darkmagenta;
}

.heartImg {
    width: 400px;
    height: 400px;
    justify-content: end;
}